.button
    background-color: #f0f0f0
    padding: 1em 3em
    width: 15em
    cursor: pointer
    border: 1px solid #aaa
    border-radius: 10px
    margin: 2em 0

    &:hover
        background-color: #e0e0e0

.disabled
    opacity: 0.5
    cursor: default

    &:hover
        background-color: #f0f0f0
