.message
    box-sizing: border-box
    padding: 1em
    background-color: white
    box-shadow: #ccc 0 0 5px
    max-width: 40em
    border-radius: 10px

.loading
    opacity: .5

.text
    white-space: pre-wrap
    word-break: break-word
    margin: 0 0.8em 0 0

.name
    font-weight: bold
    margin-bottom: 0.5em

.datetime
    color: #aaaaaa
    text-align: right
    margin-left: auto

.content
    display: flex
    flex-wrap: wrap
    align-items: flex-end
