.wrapper
    width: 100%
    display: flex
    padding: 20px 0 0 30px
    font-weight: bold
    height: 6em
    border-top: 2px solid #e9eaf0
    box-sizing: border-box
    cursor: pointer

.selected
    background-color: #e9eaf0
